# vscode
.trunk
.vscode


# MacOS files
.DS_Store
.idea

# Xcode
App.xcscheme

# Android Studio
output-metadata.json

# Not using Zero-Installs
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*
.yarn-integrity

#  using Zero Installs
#.yarn/unplugged
#.yarn/build-state.yml

# Tasks
.task
out
x/examples/website-wrapper-app/wrapper_app_project/template/ios/App/App.xcodeproj/project.xcworkspace/contents.xcworkspacedata
x/examples/outline-connectivity-app/shared_backend/package-lock.json
x/examples/outline-connectivity-app/app_mobile/ios/App/App.xcworkspace/xcuserdata/sam.xcuserdatad/UserInterfaceState.xcuserstate
x/examples/outline-connectivity-app/app_mobile/ios/App/App.xcodeproj/xcuserdata/sam.xcuserdatad/xcschemes
x/examples/outline-connectivity-app/app_desktop/generated/wailsjs/runtime/package-lock.json
x/examples/outline-connectivity-app/.yarn
x/examples/http2transport/http2transport
